*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    min-width: 1200px;
    /* overflow-y: hidden; */
}
a:hover{
    text-decoration: none;
}
/* 头部导航 */
.top{
    background-color: #b60000;
    padding: 0 40px;
    height: 75px;
    line-height: 75px;
    position: fixed;
    width: 100%;
    z-index: 997;
} 
.top .left{
    display: inline;
    font-family: STXingkai;
    font-size: 30px;
    color: #faf6d7;
}
.top .left .type{
    font-size: 20px;
    font-family: "微软雅黑";
    margin-left: 150px;
}
.top .right span{
    display: inline-block;
    margin: 0px 20px;
    background-color: #faf6d7;
    border-radius: 5px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    color: #b60000;
}
.top .right span .person{
    color: #b60000;
}
/* 左边菜单 */
.MenuBox{
    z-index: 998;
    height: 100%;
    width: 12%;
    min-width: 185px;
    position: fixed;
    background-color: #faf6d7;
    display: inline-block;
}
.menu .title{
    font-family: STXingkai;
    font-size: 30px;
    color: #faf6d7;
}
.menu .title a{
    font-size: 30px;
}
.menu li{
    padding: 15px 0;
    text-align: center;
    border-bottom: 3px solid #b60000;
    background-color: #faf6d7;
}
.menu li a{
    font-size: 20px;
    color: #b60000;
}
.menu li i{
    font-size: 30px;
    vertical-align: middle;
    margin-right: 5px;
}
li.active{
    background-color: #b60000;
}
li.active a{
    color: #faf6d7;
}
/*添加*/
#modaladd {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #333333c2;
}
.modalbox{
    width: 500px;
    margin: 100px auto;
    text-align: center;
    position: relative;
    background-color: #fff;
    padding: 50px;
}
.modalbox .close{
    position: absolute;
    right: 10px;
    top: 30px;
    opacity: 0.8;
    color: #fff;
}
.into {
    display: inline-block;
    margin: 20px;
    margin-bottom: 0;
    width: 100px;
}
/* 搜索框 */
.sosuo form{
    display: inline-block;
}
.sosuo{
    display: inline-block;
    margin: 50px 0 0;
}
.sosuo .search_key{
    width: 200px;
    height: 35px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 10px;
    outline: none;
    border: 1px solid  #b60000;
}
.sosuo .submit{
    background:none;
    background-color: #b60000;
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
    margin-left: -4px;
    width: 70px;
    height: 35px;
    border: none;
    outline: none;
    vertical-align: top;
}
.add{
    margin-right: 150px;
}
span.chazhao{
    width: 120px;
    font-size: 16px;
    vertical-align: top;
    line-height: 50px;
}
.contain{
    margin-top: 75px;
    width: 88%;
    float: right;
    text-align: center;
    height: 100% ;
}
.table{
    width: 80%;
    margin-top: 50px;
}
.table thead tr th{
    text-align: center;
}
.table tbody tr td{
    vertical-align: middle;
}
.btn-success{
    border-radius: 5px;
    text-align: center;
    outline: none;
    height: 35px;
    padding: 0 6px;
    line-height: 35px;
}
.btn-warning{
    border-radius: 5px;
    text-align: center;
    outline: none;
    height: 35px;
    padding: 0 6px;
    line-height: 35px;
}
.btn-info{
    border-radius: 5px;
    text-align: center;
    outline: none;
    height: 35px;
    padding: 0 6px;
    line-height: 35px;
}
/* 次数查看模态框 */
#modal-overlay {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #333333c2;
}
.modal-data {
    width: 380px;
    margin: 200px auto;
    text-align: center;
    position: relative;
}
.modal-data .close{
    position: absolute;
    right: 10px;
    top: 20px;
    opacity: 0.8;
    color: #fff;
}
.modal-data table{
    margin-top: 50px;
    display: inline-block;
}
/* 底部版权 */
.foot{
    text-align: center;
    background-color: #b60000;
    position: fixed;
    bottom:  0px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    min-width: 1200px;
    z-index: 999;
}
a:hover{
    text-decoration: none;
}