<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中医推拿会员管理系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        <style type="text/css">
        img{border:none;}
        dl,dt,dd{display:block;margin:0;}

        #bg{background-image:url(../images/content/dotted.png);}


        .btn-group>.btn {
            position: relative;
            float: none;
        }
        ul,
        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            cursor: pointer;
            text-decoration: none;
        }

        a:link {
            text-decoration: none;
        }

        img {
            vertical-align: middle;
        }

        .btn-numbox li {
            float: left;
        }
    </style>
</head>

<body>
    <div class="top">
        中医推拿管理系统
    </div>
    <div class="MenuBox">
        <div class="leftsidebar_box">
            <dl>
                <a th:href="@{/members/MemberMassage/1}" class="menuActive">推拿治疗</a>
            </dl>

            <dl class="custom">
                <a th:href="@{/members/membersList/1}" class="menu">会员管理</a>
            </dl>

            <dl class="channel">
                <a th:href="@{/record/recordList/1}" class="menu" style="display: none">会员记录</a>
            </dl>

            <dl class="custom">
                <a th:href="@{/staff/staffList}" class="menu">医师管理</a>
            </dl>

            <dl class="app">
                <a th:href="@{/record/summary/1}" class="menu" style="display: none">医师记录</a>
            </dl>

        </div>
    </div>
    <div class="contain">
        <div class="sosuo">
            <form action="/members/MemberMassage/1" method="post">
                <input type="text" class="search_key" name="findName" th:value="${findName}" placeholder="请输入会员信息" autocomplete="on" required="required">
                <input type="submit" class="submit" value="搜索">
                <button type="button" class="btn btn-success" style="margin-left: 150px"><a href="/members/MemberMassage/1" style="color: #fff;">查看所有会员</a></button>
            </form>
        </div>
        <table class="table container">
            <thead>
                <tr>
                    <th>会员ID</th>
                    <th>会员姓名</th>
                    <th>拼音码</th>
                    <th>联系电话</th>
                    <th>剩余次数</th>
                    <th>选择医师</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member:${membersList}">
                <td class="membersId" th:text="${member.membersId}"></td>
                <td class="membersName" th:text="${member.membersName}"></td>
                <td class="pinyinCode" th:text="${member.pinyinCode}"></td>
                <td class="membersPhone" th:text="${member.membersPhone}"></td>
                <td class="tuinaName">
                    <div class="btn-group tuinaNames">
                        <button type="button" class="btn btn-default btn-danger tuinaName" th:text="${member.tuinaName}"></button>
                        <button type="button" class="btn btn-default btn-danger" th:text="${member.surplusNumber}"></button>
                    </div>
                </td>
                <td class="staffName">
                <select class="btn-info staffNames" id="staffNames">
                    <option th:each="staff:${staffList}" th:value="${staff.staffId}" th:text="${staff.staffName}"></option>
                </select>
                </td>
                <td>
                    <button type="button" class="massage btn btn-warning">治疗</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="fenye" th:if="${TotalPages > 0 and isSearch==0}">
        <ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
            <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
            <li><a th:href="@{/members/MemberMassage/1}">首页</a></li>
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/MemberMassage/'+${i}}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li><a th:href="@{'/members/MemberMassage/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
            <li class="numpage" style="display: inline-block;" th:text="'共'+${TotalPages}+'页'"></li>
        </ul>

        <ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
            <li><a th:href="@{/members/MemberMassage/1}">首页</a></li><!--//跳转至第一页-->
            <li><a th:href="@{'/members/MemberMassage/'+${Number-1}}">上一页</a></li><!--//请求页数-1-->
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/MemberMassage/'+${i}}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li th:if="${Number != TotalPages}"><a
                    th:href="@{'/members/MemberMassage/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
            <li><a th:href="@{'/members/MemberMassage/'+${TotalPages}}">尾页</a></li><!--//跳转至第Number页-->
            <li class="numpage" style="display: inline-block;" th:text="'共'+${TotalPages}+'页'"></li>
        </ul>
    </div>
    <!--搜索分页-->
    <div class="fenye" th:if="${TotalPages > 0 and isSearch==1}">
        <ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
            <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
            <li><a th:href="@{/members/MemberMassage/1(findName=${findName})}">首页</a></li>
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/MemberMassage/'+${i}(findName=${findName})}" th:text="${i}"
                   style="color: #b60000;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li><a th:href="@{'/members/MemberMassage/'+${Number+1}(findName=${findName})}">下一页</a></li><!--//请求页数+1-->
            <li class="numpage" style="display: inline-block;" th:text="'共'+${TotalPages}+'页'"></li>
        </ul>

        <ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
            <li><a th:href="@{'/members/MemberMassage/'+1(findName=${findName})}">首页</a></li><!--//跳转至第一页-->
            <li><a th:href="@{'/members/MemberMassage/'+${Number-1}(findName=${findName})}">上一页</a></li><!--//请求页数-1-->
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/MemberMassage/'+${i}(findName=${findName})}" th:text="${i}"
                   style="color: #b60000;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li th:if="${Number != TotalPages}"><a
                    th:href="@{'/members/MemberMassage/'+${Number+1}(findName=${findName})}">下一页</a></li><!--//请求页数+1-->
            <li><a th:href="@{'/members/MemberMassage/'+${TotalPages}(findName=${findName})}">尾页</a></li><!--//跳转至第Number页-->
            <li class="numpage" style="display: inline-block;" th:text="'共'+${TotalPages}+'页'"></li>
        </ul>
    </div>
    <div class="foot">
        Copyright © 2018 未来工作室. All rights reserved.
    </div>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/members.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/record.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>