<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中医推拿会员管理系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <style>
        td.btn-group {
            width: 100%;
        }

        .btn-group>.btn {
            position: relative;
            float: none;
        }
        ul,
        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            cursor: pointer;
            text-decoration: none;
        }

        a:link {
            text-decoration: none;
        }

        img {
            vertical-align: middle;
        }

        .btn-numbox {
            overflow: hidden;
        }

        .btn-numbox li {
            float: left;
        }

        .btn-numbox li .number,
        .kucun {
            display: inline-block;
            font-size: 12px;
            color: #808080;
            vertical-align: sub;
        }

        .btn-numbox .count {
            overflow: hidden;
        }

        .btn-numbox .count .num-jian,.input-num,.num-jia {
            display: inline-block;
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            font-size: 18px;
            color: #000;
            cursor: pointer;
            border: 1px solid #e6e6e6;
        }
        .btn-numbox .count .input-num {
            width: 58px;
            height: 26px;
            color: #333;
            border-left: 0;
            border-right: 0;
        }
    </style>
</head>

<body>
    <div class="top">
    中医推拿管理系统
    </div>
    <div class="MenuBox">
        <div class="leftsidebar_box">
            <dl>
                <a th:href="@{/members/MemberMassage/1}" class="menu">推拿治疗</a>
            </dl>

            <dl class="custom">
                <a th:href="@{/members/membersList/1}" class="menuActive">会员管理</a>
            </dl>

            <dl class="channel">
                <a th:href="@{/record/recordList/1}" class="menu" style="display: none">会员记录</a>
            </dl>

            <dl class="custom">
                <a th:href="@{/staff/staffList}" class="menu" >医师管理</a>
            </dl>

            <dl class="app">
                <a th:href="@{/record/summary/1}" class="menu" style="display: none">医师记录</a>
            </dl>

        </div>
    </div>
    <div class="contain">
        <div class="sosuo">
            <form th:action="@{/members/membersList/1}" method="post">
                <button onclick="add()" type="button" class="btn btn-danger add ">添加新会员</button>
                <input type="text" class="search_key" name="findName"  placeholder="请输入会员姓名" autocomplete="on" required="required">
                <input type="submit" class="submit" value="搜索">
                <button type="button" class="btn btn-success" style="margin-left: 150px"><a th:href="@{/members/membersList/1}" style="color: #fff;">查看所有会员</a></button>
            </form>
        </div>
        <div id="modaladd">
            <div class="modalbox">
                <form class="form-horizontal" role="form">
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">会员姓名</label>
                        <div class="col-sm-9">
                            <input autocomplete="off" type="text" class="form-control membersName" id="inputError">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">拼音码</label>
                        <div class="col-sm-9">
                            <input autocomplete="off" type="text" class="form-control pinyinCode" id="inputError">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">联系电话</label>
                        <div class="col-sm-9">
                            <input autocomplete="off" type="text" class="form-control membersPhone" maxlength="11" id="inputError">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">推拿种类</label>
                        <div class="col-sm-9">
                            <select id="XtuinaType" class="tuinaName" style="outline: none;display: inline-block;width: 100%;height: 35px;border-radius: 3px;border-color: #a94442;padding: 0px 5px;">
                                <option th:each="tuinaType:${tuinaTypeList}" th:value="${tuinaType.tuinaName}" th:text="${tuinaType.tuinaName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">剩余次数</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control surplusNumber" maxlength="11" id="inputError">
                        </div>
                    </div>
                    <button type="button" class="membersAdd btn btn-warning into">添加</button>
                    <button type="button" class="btn btn-info into " onclick="add()">关闭</button>
                </form>
            </div>
        </div>
        <div id="modalchange">
            <div class="modalbox">
                <form class="form-horizontal" role="form">
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">会员姓名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control TmembersName" name="membersName" id="inputError" required>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError" >拼音码</label>
                        <div class="col-sm-9">
                            <input type="text" name="pinyinCode" class="form-control TpinyinCode" id="inputError" required>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">联系电话</label>
                        <div class="col-sm-9">
                            <input type="text" name="membersPhone" class="form-control TmembersPhone" maxlength="11" id="inputError" required>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">剩余次数</label>
                        <div class="col-sm-9">
                            <input type="text" name="TsurplusNumber" class="form-control TsurplusNumber" maxlength="11" id="inputError" required>
                        </div>
                    </div>
                    <button type="button" class="memberschange btn btn-warning into Tmodify">修改</button>
                    <button type="button" class="btn btn-info into closed">关闭</button>
                </form>
            </div>
        </div>
        <table class="table container">
            <thead>
            <tr>
                <th>会员ID</th>
                <th>会员姓名</th>
                <th>拼音码</th>
                <th>联系电话</th>
                <th>剩余次数</th>
                <th>治疗记录</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="member:${membersList}">
                <td class="membersId" th:text="${member.membersId}">64763113</td>
                <td class="membersName" th:text="${member.membersName}">张三</td>
                <td class="pinyinCode" th:text="${member.pinyinCode}">zs</td>
                <td class="membersPhone" th:text="${member.membersPhone}">12345678912</td>
                <td class="surplusNumber">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-danger" th:text="${member.tuinaName}"></button>
                        <button type="button" class="btn btn-default btn-danger surplusNumber" th:text="${member.surplusNumber}"></button>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-info">
                        <a style="color: #FFFFFF" th:href="@{/record/recordList/1/(findName=${member.membersName})}">查看</a>
                    </button>
                </td>
                <td>
                    <div class="btn-group">
                        <button  type="button" class="changeMember btn btn-default btn-warning modify">修改</button>
                        <button type="button" class="deleteMember btn btn-default btn-warning">删除</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="fenye" th:if="${TotalPages > 0 and isSearch==0}">
        <ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
            <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
            <li><a th:href="@{/members/membersList/1}">首页</a></li>
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/membersList/'+${i}}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li><a th:href="@{'/members/membersList/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
            <li><a th:href="@{'/members/membersList/'+${TotalPages}}">尾页</a></li><!--//跳转至第Number页-->
            <li class="numpage" style="display: inline-block;" th:text="'共'+${TotalPages}+'页'"></li>
        </ul>

        <ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
            <li><a th:href="@{/members/membersList/1}">首页</a></li><!--//跳转至第一页-->
            <li><a th:href="@{'/members/membersList/'+${Number-1}}">上一页</a></li><!--//请求页数-1-->
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/membersList/'+${i}}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li th:if="${Number != TotalPages}"><a
                    th:href="@{'/members/membersList/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
            <li><a th:href="@{'/members/membersList/'+${TotalPages}}">尾页</a></li><!--//跳转至第Number页-->
            <li class="numpage" style="display: inline-block;" th:text="'共'+${TotalPages}+'页'"></li>
        </ul>
    </div>
    <!--搜索分页-->
    <div class="fenye" th:if="${TotalPages > 0 and isSearch==1}">
        <ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
            <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
            <li><a th:href="@{/members/membersList/1(findName=${findName})}">首页</a></li>
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/membersList/'+${i}(findName=${findName})}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li><a th:href="@{'/members/membersList/'+${Number+1}(findName=${findName})}">下一页</a></li><!--//请求页数+1-->
            <li><a th:href="@{'/members/membersList/'+${TotalPages}}">尾页</a></li><!--//跳转至第Number页-->
            <li class="numpage" style="display: inline-block;" th:text="'共'+${TotalPages}+'页'"></li>
        </ul>

        <ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
            <li><a th:href="@{'/members/membersList/'+1(findName=${findName})}">首页</a></li><!--//跳转至第一页-->
            <li><a th:href="@{'/members/membersList/'+${Number-1}(findName=${findName})}">上一页</a></li><!--//请求页数-1-->
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/membersList/'+${i}(findName=${findName})}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li th:if="${Number != TotalPages}"><a
                    th:href="@{'/members/membersList/'+${Number+1}(findName=${findName})}">下一页</a></li><!--//请求页数+1-->
            <li><a th:href="@{'/members/membersList/'+${TotalPages}(findName=${findName})}">尾页</a></li><!--//跳转至第Number页-->
            <li class="numpage" style="display: inline-block;" th:text="'共'+${TotalPages}+'页'"></li>
        </ul>
    </div>
    <div class="foot">
        Copyright © 2018 未来工作室. All rights reserved.
    </div>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/members.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>