<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中医推拿会员管理系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <style>
        .look {
            color: #fff;
        }

        .look:hover {
            color: #fff;
        }

        .dropdown-menu {
            min-width: 100px;
            padding: 5px;
            font-size: 16px;
            text-align: center;
            left: 50%;
            top: 92px;
            margin: -50px;
        }

        td.btn-group {
            width: 100%;
        }

        .btn-group>.btn {
            position: relative;
            float: none;
        }
    </style>
</head>

<body>
    <div class="top">
        <div class="left">
            <span class="type">管理系统</span>
        </div>
    </div>
    <div class="MenuBox">
        <ul class="menu">
            <li class="active title"><a th:href="@{/members/membersList/1}">中医推拿</a></li>
            <li  class="active"><a th:href="@{/members/membersList/1}"><i class="iconfont icon-icon-test"></i>会员管理</a></li>
            <li><a th:href="@{/record/recordList/1}"><i class="iconfont icon-icon-test3"></i>治疗记录</a></li>
            <li><a th:href="@{/staff/staffList}"><i class="iconfont icon-icon-test1"></i>医师管理</a></li>
        </ul>
    </div>
    <div class="contain">
        <div class="sosuo">
            <form>
                <button onclick="add()" type="button" class="btn btn-danger add ">添加新会员</button>
                <input type="text" class="search_key" placeholder="请输入会员姓名或ID" autocomplete="on">
                <input type="submit" class="submit" value="搜索">
            </form>
        </div>
        <div id="modaladd">
            <div class="modalbox">
                <form class="form-horizontal" role="form">
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">会员姓名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputError">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">拼音码</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputError">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">联系电话</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="11" id="inputError">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning into">添加</button>
                    <button type="button" class="btn btn-info into " onclick="add()">关闭</button>
                </form>
            </div>
        </div>
        <table class="table container">
            <thead>
            <tr>
                <th>会员号</th>
                <th>拼音码</th>
                <th>姓名</th>
                <th>联系电话</th>
                <th>剩余次数</th>
                <th>推拿种类</th>
                <th>选择医师</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="member:${membersList}">
                <td th:text="${member.membersId}">64763113</td>
                <td th:text="${member.pinyinCode}">zs</td>
                <td th:text="${member.membersName}">张三</td>
                <td th:text="${member.membersPhone}">12345678912</td>
                <td>
                    <button onclick="overlay()" type="button" class="btn btn-danger">查看</button>
                </td>
                <td>
                    <select class="btn-success">
                        <option th:each="car,userStat:${tuinaTypeList}" th:value="${car.tuinaName}" th:text="${car.tuinaName}"></option>
                    </select>
                </td>
                <td>
                    <select class="btn-info ">
                        <option th:each="car,userStat:${staffList}" th:value="${car.staffName}" th:text="${car.staffName}"></option>
                    </select>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-warning">治疗</button>
                        <button type="button" class="btn btn-default btn-warning">查看</button>
                        <button type="button" class="btn btn-default btn-warning">删除</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="modal-overlay">
            <div class="modal-data">
                <span class="close" onclick="overlay()">X</span>
                <table class="table">
                    <thead>
                        <tr class="active">
                            <th>按摩种类</th>
                            <th>剩余次数</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="danger">
                            <td>近视治疗</td>
                            <td>5次</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-info">添加一次</button>
                                    <button type="button" class="btn btn-default btn-success">减少一次</button>
                                </div>
                            </td>
                        </tr>
                        <tr class="success">
                            <td>小儿推拿</td>
                            <td>6次</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-info">添加一次</button>
                                    <button type="button" class="btn btn-default btn-success">减少一次</button>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr class="warning">
                                <td>推拿种类3</td>
                                <td>0次</td>
                            </tr>
                            <tr class="danger">
                                <td>推拿种类4</td>
                                <td>0次</td>
                            </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="fenye" th:if="${TotalPages > 0 and isSearch==0}">
        <ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
            <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
            <li><a th:href="@{/members/membersList/1}">首页</a></li>
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/membersList/'+${i}}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li><a th:href="@{'/members/membersList/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
        </ul>

        <ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
            <li><a th:href="@{/members/membersList/1}">首页</a></li><!--//跳转至第一页-->
            <li><a th:href="@{'/members/membersList/'+${Number-1}}">上一页</a></li><!--//请求页数-1-->
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/membersList/'+${i}}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li th:if="${Number != TotalPages}"><a
                    th:href="@{'/members/membersList/'+${Number+1}}">下一页</a></li><!--//请求页数+1-->
            <li><a th:href="@{'/members/membersList/'+${TotalPages}}">尾页</a></li><!--//跳转至第Number页-->
        </ul>
    </div>
    <!--搜索分页-->
    <div class="fenye" th:if="${TotalPages > 0 and isSearch==1}">
        <ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
            <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
            <li><a th:href="@{/members/membersList/1(findName=${findName})}">首页</a></li>
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/membersList/'+${i}(findName=${findName})}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li><a th:href="@{'/members/membersList/'+${Number+1}(findName=${findName})}">下一页</a></li><!--//请求页数+1-->
        </ul>

        <ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
            <li><a th:href="@{'/members/membersList/'+1(findName=${findName})}">首页</a></li><!--//跳转至第一页-->
            <li><a th:href="@{'/members/membersList/'+${Number-1}(findName=${findName})}">上一页</a></li><!--//请求页数-1-->
            <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
                <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
                <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                   th:href="@{'/members/membersList/'+${i}(findName=${findName})}" th:text="${i}"
                   style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
            </li>
            <li th:if="${Number != TotalPages}"><a
                    th:href="@{'/members/membersList/'+${Number+1}(findName=${findName})}">下一页</a></li><!--//请求页数+1-->
            <li><a th:href="@{'/members/membersList/'+${TotalPages}(findName=${findName})}">尾页</a></li><!--//跳转至第Number页-->
        </ul>
    </div>


    <div class="foot">
        Copyright © 2018 未来工作室. All rights reserved.
    </div>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        function overlay() {
            var e1 = document.getElementById('modal-overlay');
            e1.style.visibility = (e1.style.visibility == "visible") ? "hidden" : "visible";
        }
        function add(){
            var modaladd = document.getElementById('modaladd');
            modaladd.style.visibility = (modaladd.style.visibility == "visible") ? "hidden" : "visible";
        }
        /*校验联系电话格式 */
        function isTelCode(str) {
            var reg= /^((0\d{2,3}-\d{7,8})|(1[3584]\d{9}))$/;
            return reg.test(str);
        }
        function  fun1(){
            if(!isTelCode(document.getElementById("tel").value)){
                alert("联系电话不对");
                document.getElementById("tel").focus();
                return false;
            }
            /*运行到这里说明验证通过返回true    submit提交按钮起作用提交表单*/
            alert("添加成功")
            return false;   // 这边设置禁止提交，实际项目需要改为 true
        }
    </script>

</body>

</html>