<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中医推拿会员管理系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/jeDate-test.css}">
    <link rel="stylesheet" th:href="@{/css/jedate.css}">
    <script type="text/javascript" th:src="@{/js/jedate.js}"></script>
</head>

<body>
<div class="top">
    <div class="left">
        <span class="type">管理系统</span>
    </div>
</div>
<div class="MenuBox">
    <ul class="menu">
        <li class="active title"><a th:href="@{/members/membersList/1}">中医推拿</a></li>
        <li><a th:href="@{/members/membersList/1}"><i class="iconfont icon-icon-test"></i>会员管理</a></li>
        <li  class="active"><a th:href="@{/record/recordList/1}"><i class="iconfont icon-icon-test3"></i>治疗记录</a></li>
        <li><a th:href="@{/staff/staffList}"><i class="iconfont icon-icon-test1"></i>医师管理</a></li>
    </ul>
</div>
<div class="contain">
    <div class="sosuo">

        <form th:href="@{record/summary/1}" th:type="post">
            <div class="select">
                <input type="text" name="tuinaType" class="display " value="所有种类">
                <!--<span class="display ">推拿种类</span>-->
                <ul class="son">
                    <li style="border-top: 1px solid #fff;">所有种类</li>
                    <li th:each="car,userStat:${tuinaTypeList}" th:text="${car.tuinaName}"></li>
                        <!--<a href="#" th:text="${car.tuinaName}">近视治疗</a>-->
                </ul>
            </div>
            <div class="jeitem">
                <div class="jeinpbox"><input type="text" class="jeinput" id="testred" placeholder="选择时间"></div>
            </div>
            <input th:if="${staffName} != null" th:name="staffName"  type="text" class="search_key" placeholder="请输入医师姓名" autocomplete="on" required="required">
            <input type="submit" class="submit" value="搜索">
        </form>
    </div>
    <table class="table container">
        <thead>
        <tr>
            <th>会员号</th>
            <th>姓名</th>
            <th>推拿类型</th>
            <th>医师</th>
            <th>时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${recordList}">
            <td th:text="${record.membersId}"></td>
            <td th:text="${record.membersName}"></td>
            <td th:text="${record.tuinaType}"></td>
            <td th:text="${record.staffName}"></td>
            <td  th:text="${#temporals.format(record.recordTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>

        </tbody>
    </table>
</div>
<!--搜索分页-->
<div class="fenye" th:if="${TotalPages > 0}">
    <ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
        <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
        <li><a th:href="@{/record/summary/1(staffName=${staffName})}">首页</a></li>
        <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{'/record/summary/'+${i}(staffName=${staffName})}" th:text="${i}"
               style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li><a th:href="@{'/record/summary/'+${Number+1}(staffName=${staffName})}">下一页</a></li><!--//请求页数+1-->
    </ul>

    <ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
        <li><a th:href="@{'/record/summary/'+1(staffName=${staffName})}">首页</a></li><!--//跳转至第一页-->
        <li><a th:href="@{'/record/summary/'+${Number-1}(staffName=${staffName})}">上一页</a></li><!--//请求页数-1-->
        <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{'/record/summary/'+${i}(staffName=${staffName})}" th:text="${i}"
               style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li th:if="${Number != TotalPages}"><a
                th:href="@{'/record/summary/'+${Number+1}(staffName=${staffName})}">下一页</a></li><!--//请求页数+1-->
        <li><a th:href="@{'/record/summary/'+${TotalPages}(staffName=${staffName})}">尾页</a></li><!--//跳转至第Number页-->
    </ul>

</div>


<div class="foot">
    Copyright © 2018 未来工作室. All rights reserved.
</div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/demo.js}"></script>
<script>
    var li= $('.son li');
    var display = $('.display');
    li.on("click",function(){
        display.val($(this).text());
    })





</script>
</body>

</html>