<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中医推拿会员管理系统</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <style>
        .table thead tr th {
            width: 20%;
        }

        .look {
            color: #fff;
        }

        .look:hover {
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="top">
        <div class="left">
            <span class="type">管理系统</span>
        </div>
    </div>
    <div class="MenuBox">
        <ul class="menu">
            <li class="active title"><a href="vip.html">中医推拿</a></li>
            <li><a href="vip.html"><i class="iconfont icon-icon-test"></i>会员管理</a></li>
            <li><a href="membersDetails.html"><i class="iconfont icon-icon-test3"></i>治疗记录</a></li>
            <li class="active"> <a href="staffList.html"><i class="iconfont icon-icon-test1"></i>医师管理</a></li>
        </ul>
    </div>
    <div class="contain">
        <div class="sosuo">
            <span class="chazhao">按医师查找</span><input class="sosuokuang" type="text" placeholder="请输入医师姓名"><span><a
                    href=""><i class="glyphicon glyphicon-search"></i></a></span>
        </div>
        <table class="table container">
            <thead>
                <tr>
                    <th>会员号</th>
                    <th>姓名</th>
                    <th>联系电话</th>
                    <th>工作量</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>I1515544D</td>
                    <td>张三</td>
                    <td>12365474522</td>
                    <td>
                        <button type="button" class="btn btn-warning"><a href="recordList.html"
                                class="look">查看</a></button>
                    </td>
                </tr>
                <tr>
                    <td>I1515544D</td>
                    <td>张三</td>
                    <td>12365474522</td>
                    <td>
                        <button type="button" class="btn btn-warning"><a href="recordList.html"
                                class="look">查看</a></button>
                    </td>
                </tr>
                <tr>
                    <td>I1515544D</td>
                    <td>张三</td>
                    <td>12365474522</td>
                    <td>
                        <button type="button" class="btn btn-warning"><a href="recordList.html"
                                class="look">查看</a></button>
                    </td>
                </tr>
                <tr>
                    <td>I1515544D</td>
                    <td>张三</td>
                    <td>12365474522</td>
                    <td>
                        <button type="button" class="btn btn-warning"><a href="recordList.html"
                                class="look">查看</a></button>
                    </td>
                </tr>
                <tr>
                    <td>I1515544D</td>
                    <td>张三</td>
                    <td>12365474522</td>
                    <td>
                        <button type="button" class="btn btn-warning"><a href="recordList.html"
                                class="look">查看</a></button>
                    </td>
                </tr>
                <tr>
                    <td>I1515544D</td>
                    <td>张三</td>
                    <td>12365474522</td>
                    <td>
                        <button type="button" class="btn btn-warning"><a href="recordList.html"
                                class="look">查看</a></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="foot">
        Copyright © 2018 未来工作室. All rights reserved.
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>