<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中医推拿会员管理系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/jeDate-test.css}">
    <link rel="stylesheet" th:href="@{/css/jedate.css}">
    <script type="text/javascript" th:src="@{/js/jedate.js}"></script>
</head>

<body>
<div class="top">
    中医推拿管理系统
</div>
<div class="MenuBox">
    <div class="leftsidebar_box">
        <dl>
            <a th:href="@{/members/MemberMassage/1}" class="menu">推拿治疗</a>
        </dl>

        <dl class="custom">
            <a th:href="@{/members/membersList/1}" class="menu">会员管理</a>
        </dl>

        <dl class="channel">
            <a th:href="@{/record/recordList/1}" class="menu">会员记录</a>
        </dl>

        <dl class="custom">
            <a th:href="@{/staff/staffList}" class="menu">医师管理</a>
        </dl>

        <dl class="app">
            <a th:href="@{/record/summary/1}" class="menuActive">医师记录</a>
        </dl>

    </div>
</div>
<div class="contain">
    <div class="sosuo">

        <form th:href="@{record/summary/1}" th:type="post">
            <div class="jewarp">
                <div class="content">
                    <div class="jeitem">
                        <label class="jelabel">开始时间</label>
                        <div class="jeinpbox"><input type="text" class="jeinput moredate" placeholder="YYYY年MM月DD日"></div>
                    </div>
                    <div class="jeitem">
                        <label class="jelabel">结束时间</label>
                        <div class="jeinpbox"><input type="text" class="jeinput moredate" placeholder="YYYY-MM-DD"></div>
                    </div>
                </div>
            </div>
            <input type="submit" class="submit" value="搜索" style="margin-top: 0px">
        </form>
    </div>
    <table class="table container">
        <span style=" padding-right: 0px;" th:each="blogId,key : ${hashMap}" th:if="${not #lists.isEmpty(hashMap)}"> <a th:href="@{'/blog/articles/'+${key.current.key} }"> <span style="font-size: 15px;right:0px;border:0px; font-family: ;font-style:normal" th:text="${key.current.value}"></span></a> </span>
        <thead>
        <tr>
            <th>医师ID</th>
            <th>医师姓名</th>
            <th>工作量</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="record : ${recordList}">
                <td th:text="${record.staffId}"></td>
                <td th:text="${record.staffName}"></td>
                <td th:text="${record.tuinaType}"></td>
                <td>
                <!--<div class="btn-group">-->
                    <!--<button type="button" class="btn btn-default btn-danger" th:text="${record.tuinaName}"></button>-->
                    <!--<button type="button" class="btn btn-default btn-danger" th:text="${record.surplusNumber}"></button>-->
                <!--</div>-->
            </td>
                <td>
                    <a href="#">查看</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--搜索分页-->
<div class="fenye" th:if="${TotalPages > 0}">
    <ul class="pagination" th:if="${Number == 1} and ${TotalPages> 1}">
        <!--//如果当前页等于1，总页数大于1（不显示上一页）   Number&ndash;&gt;当前页-->
        <li><a th:href="@{/record/summary/1(staffName=${staffName})}">首页</a></li>
        <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{'/record/summary/'+${i}(staffName=${staffName})}" th:text="${i}"
               style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li><a th:href="@{'/record/summary/'+${Number+1}(staffName=${staffName})}">下一页</a></li><!--//请求页数+1-->
    </ul>

    <ul class="pagination" th:if="${Number > 1} and ${TotalPages > 1}"><!--//显示上一页-->
        <li><a th:href="@{'/record/summary/'+1(staffName=${staffName})}">首页</a></li><!--//跳转至第一页-->
        <li><a th:href="@{'/record/summary/'+${Number-1}(staffName=${staffName})}">上一页</a></li><!--//请求页数-1-->
        <li class="active" th:each="i:${#numbers.sequence(1,TotalPages)}">
            <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" href="javascript:void(0);" th:text="${i}">#</a>
            <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
            <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
               th:href="@{'/record/summary/'+${i}(staffName=${staffName})}" th:text="${i}"
               style="color: #337ab7;background-color: #fff;border-color: #fff;">#</a><!--//限制显示页数的条数  4到6个页数-->
        </li>
        <li th:if="${Number != TotalPages}"><a
                th:href="@{'/record/summary/'+${Number+1}(staffName=${staffName})}">下一页</a></li><!--//请求页数+1-->
        <li><a th:href="@{'/record/summary/'+${TotalPages}(staffName=${staffName})}">尾页</a></li><!--//跳转至第Number页-->
    </ul>

</div>


<div class="foot">
    Copyright © 2018 未来工作室. All rights reserved.
</div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/demo.js}"></script>
<script th:src="@{/js/menu.js}"></script>
<!--<script>-->
    <!--var li= $('.son li');-->
    <!--var display = $('.display');-->
    <!--li.on("click",function(){-->
        <!--display.val($(this).text());-->
    <!--})-->





<!--</script>-->
</body>

</html>