<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中医推拿会员管理系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <style>
        .table thead tr th {
            width: 20%;
        }

        .look {
            color: #fff;
        }

        .look:hover {
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="top">
        中医推拿管理系统
    </div>
    <div class="MenuBox">
        <div class="leftsidebar_box">
            <dl>
                <a th:href="@{/members/MemberMassage/1}" class="menu">推拿治疗</a>
            </dl>

            <dl class="custom">
                <a th:href="@{/members/membersList/1}" class="menu">会员管理</a>
            </dl>

            <dl class="channel">
                <a th:href="@{/record/recordList/1}" class="menu" style="display: none">会员记录</a>
            </dl>

            <dl class="custom">
                <a th:href="@{/staff/staffList}" class="menuActive">医师管理</a>
            </dl>

            <dl class="app">
                <a th:href="@{/record/summary/1}" class="menu" style="display: none">医师记录</a>
            </dl>

        </div>
    </div>
    <div class="contain">
        <div class="sosuo">
            <form>
                <button onclick="add()" type="button" class="btn btn-danger ">添加新医师</button>
            </form>
        </div>
        <div id="modaladd">
            <div class="modalbox">
                <form class="form-horizontal" role="form">
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">医师姓名</label>
                        <div class="col-sm-9">
                            <input type="text" th:name="staffName" class="form-control" id="inputError" th:class="staffName">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">拼音码</label>
                        <div class="col-sm-9">
                            <input type="text" th:name="pinyinCode" class="form-control" id="inputError" th:class="pinyinCode">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label" for="inputError">联系电话</label>
                        <div class="col-sm-9">
                            <input type="text" th:name="staffPhone" class="form-control" id="inputError" th:class="staffPhone">
                        </div>
                    </div>
                    <button type="button" th:name="addstaff" class="staffAdd btn btn-warning into staffAdd" >添加</button>
                    <button type="button" class="btn btn-info into " onclick="add()">关闭</button>
                </form>
            </div>
        </div>
        <table class="table container">
            <thead>
                <tr>
                    <th>医师ID</th>
                    <th>医师姓名</th>
                    <th>拼音码</th>
                    <th>联系电话</th>
                    <th>治疗记录</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="staff:${staffList}">
                    <td th:text="${staff.staffId}" class="staffId">I1515544D</td>
                    <td th:text="${staff.staffName}" class="staffName">张三</td>
                    <td th:text="${staff.pinyinCode}">zs</td>
                    <td th:text="${staff.staffPhone}">12365474522</td>
                    <td>
                        <button type="button" class="btn btn-success">
                            <a style="color: #FFFFFF" th:href="@{/record/summary/1/(staffName=${staff.staffName})}">查看</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="deletestaff btn btn-info">
                            <a style="color: #FFFFFF">删除</a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="foot">
        Copyright © 2018 未来工作室. All rights reserved.
    </div>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/staff.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>