<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中医推拿会员管理系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <style>
        .table thead tr th {
            width: 14.5%;
        }

        .table tbody tr td {
            display: table-cell;
            width: 14.5%;
        }

        .look {
            color: #fff;
        }

        .look:hover {
            color: #fff;
        }

        .dropdown-menu {
            min-width: 100px;
            padding: 5px;
            font-size: 16px;
            text-align: center;
            left: 50%;
            top: 92px;
            margin: -50px;
        }

        td.btn-group {
            width: 100%;
        }

        .btn-group>.btn {
            position: relative;
            float: none;
        }
    </style>
</head>

<body>
    <div class="top">
        <div class="left">
            <span class="type">管理系统</span>
        </div>
    </div>
    <div class="MenuBox">
        <ul class="menu">
            <li class="active title"><a href="vip.html">中医推拿</a></li>
            <li class="active"><a href="vip.html"><i class="iconfont icon-icon-test"></i>会员管理</a></li>
            <li><a href="detail.html"><i class="iconfont icon-icon-test3"></i>治疗记录</a></li>
            <li><a href="doctor.html"><i class="iconfont icon-icon-test1"></i>医师管理</a></li>
        </ul>
    </div>
    <div class="contain">
        <div class="sosuo">
            <span class="chazhao">按会员查找</span><input class="sosuokuang" type="text" placeholder="请输入会员姓名或ID"><span><a
                    href=""><i class="glyphicon glyphicon-search"></i></a></span>
        </div>
        <table class="table container">
            <thead>
                <tr>
                    <th>会员号</th>
                    <th>姓名</th>
                    <th>联系电话</th>
                    <th>剩余次数</th>
                    <th>推拿种类</th>
                    <th>选择医师</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>64763113</td>
                    <td>姓名</td>
                    <td>12345678912</td>
                    <td>
                        <button onclick="overlay()" type="button" class="btn btn-danger">查看</button>
                    </td>
                    <td>
                        <select class="btn-success">
                            <option value="近视治疗">近视治疗</option>
                            <option value="小儿推拿">小儿推拿</option>
                        </select>
                    </td>
                    <td>
                        <select class="btn-info ">
                            <option value="李医师">李医师</option>
                            <option value="王医师">王医师</option>
                            <option value="张医师">张医师</option>
                            <option value="刘医师">刘医师</option>
                        </select>
                    </td>
                    <td><button type="button" class="btn btn-warning"><a href="" class="look">治疗</a></button></td>
                </tr>
                <tr>
                    <td>64763113</td>
                    <td>姓名</td>
                    <td>12345678912</td>
                    <td>
                        <button onclick="overlay()" type="button" class="btn btn-danger">查看</button>
                    </td>
                    <td>
                        <select class="btn-success">
                            <option value="近视治疗">近视治疗</option>
                            <option value="小儿推拿">小儿推拿</option>
                        </select>
                    </td>
                    <td>
                        <select class="btn-info ">
                            <option value="李医师">李医师</option>
                            <option value="王医师">王医师</option>
                            <option value="张医师">张医师</option>
                            <option value="刘医师">刘医师</option>
                        </select>
                    </td>
                    <td><button type="button" class="btn btn-warning"><a href="" class="look">治疗</a></button></td>
                </tr>
                <tr>
                    <td>64763113</td>
                    <td>姓名</td>
                    <td>12345678912</td>
                    <td>
                        <button onclick="overlay()" type="button" class="btn btn-danger">查看</button>
                    </td>
                    <td>
                        <select class="btn-success">
                            <option value="近视治疗">近视治疗</option>
                            <option value="小儿推拿">小儿推拿</option>
                        </select>
                    </td>
                    <td>
                        <select class="btn-info ">
                            <option value="李医师">李医师</option>
                            <option value="王医师">王医师</option>
                            <option value="张医师">张医师</option>
                            <option value="刘医师">刘医师</option>
                        </select>
                    </td>
                    <td><button type="button" class="btn btn-warning"><a href="" class="look">治疗</a></button></td>
                </tr>
                <tr>
                    <td>64763113</td>
                    <td>姓名</td>
                    <td>12345678912</td>
                    <td>
                        <button onclick="overlay()" type="button" class="btn btn-danger">查看</button>
                    </td>
                    <td>
                        <select class="btn-success">
                            <option value="近视治疗">近视治疗</option>
                            <option value="小儿推拿">小儿推拿</option>
                        </select>
                    </td>
                    <td>
                        <select class="btn-info ">
                            <option value="李医师">李医师</option>
                            <option value="王医师">王医师</option>
                            <option value="张医师">张医师</option>
                            <option value="刘医师">刘医师</option>
                        </select>
                    </td>
                    <td><button type="button" class="btn btn-warning"><a href="" class="look">治疗</a></button></td>
                </tr>
                <tr>
                    <td>64763113</td>
                    <td>姓名</td>
                    <td>12345678912</td>
                    <td>
                        <button onclick="overlay()" type="button" class="btn btn-danger">查看</button>
                    </td>
                    <td>
                        <select class="btn-success">
                            <option value="近视治疗">近视治疗</option>
                            <option value="小儿推拿">小儿推拿</option>
                        </select>
                    </td>
                    <td>
                        <select class="btn-info ">
                            <option value="李医师">李医师</option>
                            <option value="王医师">王医师</option>
                            <option value="张医师">张医师</option>
                            <option value="刘医师">刘医师</option>
                        </select>
                    </td>
                    <td><button type="button" class="btn btn-warning"><a href="" class="look">治疗</a></button></td>
                </tr>
                <tr>
                    <td>64763113</td>
                    <td>姓名</td>
                    <td>12345678912</td>
                    <td>
                        <button onclick="overlay()" type="button" class="btn btn-danger">查看</button>
                    </td>
                    <td>
                        <select class="btn-success">
                            <option value="近视治疗">近视治疗</option>
                            <option value="小儿推拿">小儿推拿</option>
                        </select>
                    </td>
                    <td>
                        <select class="btn-info ">
                            <option value="李医师">李医师</option>
                            <option value="王医师">王医师</option>
                            <option value="张医师">张医师</option>
                            <option value="刘医师">刘医师</option>
                        </select>
                    </td>
                    <td><button type="button" class="btn btn-warning"><a href="" class="look">治疗</a></button></td>
                </tr>
                <tr>
                    <td>64763113</td>
                    <td>姓名</td>
                    <td>12345678912</td>
                    <td>
                        <button onclick="overlay()" type="button" class="btn btn-danger">查看</button>
                    </td>
                    <td>
                        <select class="btn-success">
                            <option value="近视治疗">近视治疗</option>
                            <option value="小儿推拿">小儿推拿</option>
                        </select>
                    </td>
                    <td>
                        <select class="btn-info ">
                            <option value="李医师">李医师</option>
                            <option value="王医师">王医师</option>
                            <option value="张医师">张医师</option>
                            <option value="刘医师">刘医师</option>
                        </select>
                    </td>
                    <td><button type="button" class="btn btn-warning"><a href="" class="look">治疗</a></button></td>
                </tr>

            </tbody>
        </table>
        <div id="modal-overlay">
            <div class="modal-data">
                <span class="close" onclick="overlay()">X</span>
                <table class="table">
                    <thead>
                        <tr class="active">
                            <th>按摩种类</th>
                            <th>剩余次数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="danger">
                            <td>近视治疗</td>
                            <td>5次</td>
                        </tr>
                        <tr class="success">
                            <td>小儿推拿</td>
                            <td>6次</td>
                        </tr>
                        <!-- <tr class="warning">
                                <td>推拿种类3</td>
                                <td>0次</td>
                            </tr>
                            <tr class="danger">
                                <td>推拿种类4</td>
                                <td>0次</td>
                            </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="foot">
        Copyright © 2018 未来工作室. All rights reserved.
    </div>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        function overlay() {
            var e1 = document.getElementById('modal-overlay');
            e1.style.visibility = (e1.style.visibility == "visible") ? "hidden" : "visible";
        }
    </script>

</body>

</html>